body {
  font-family: 'Josefin Slab', serif;
  font-size: 18px;
}

nav.navbar.navbar-default {
  margin-bottom: 0;
  padding-bottom: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}


#contact {
  background-color: #8C7370;
  height: 20vh;
  width: 100vw;
  padding: 0px;
  color: snow;
  text-align: center;
}



#landing {
  background-image: url(images/landing_background.jpeg);
}



#landing p {
  font-size: 18px;
  margin: 10% 5% 12% 12%;
}

.footer {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.headshot {
  border-radius: 50%;
  margin-top: 10%;
  margin-bottom: 2%;
  width: 14.5vw;
}

.transparentWrapper {
  margin: 10%;
  background-color: rgba(255,255,255,0.8);
  width: 80%;
  border: 1px solid black;
}

.section {
  background-size: cover;
}

.section .buttonRow button {
  background-color: rgba(255,255,255,0.3);
  border: 1px solid black;
  border-radius: 0px;
}

.section .buttonRow button:hover {
  background-color: rgba(255,255,255,0.7);
}
