body {
  font-family: 'Josefin Slab', serif;
  font-size: 18px;
}

h2 {
  text-align: center;
}

nav.navbar.navbar-default {
  margin-bottom: 0;
  padding-bottom: 0;
}

iframe {
  width:80vw;
  height: 500px;
  padding: 5%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}


#aboutMe {
  background-image: url(images/desk.jpeg);
}

#bio {
  margin: 5%;
  padding-left: 5px;
}

#blog {
  background-color: #DFCCBA;
  text-align: center;
}

#contact {
  background-color: #8C7370;
  height: 20vh;
  width: 100vw;
  padding: 0px;
  color: snow;
  text-align: center;
}

#landing {
  background-image: url(images/landing_background.jpeg);
}

#landing p {
  font-size: 18px;
  margin: 10% 5% 12% 12%;
}

#projects {
  background-color: #8C7370;
}

#moreProjects {
  background-color: #DFCCBA;
}

.footer {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.headshot {
  border-radius: 50%;
  margin-top: 10%;
  margin-bottom: 2%;
  width: 14.5vw;
}

.transparentWrapper {
  margin: 10%;
  background-color: rgba(255,255,255,0.8);
  width: 80%;
  border: 1px solid black;
}

.section {
  background-size: cover;
}

.section .buttonRow button {
  background-color: rgba(255,255,255,0.3);
  border: 1px solid black;
  border-radius: 0px;
}

.section .buttonRow button:hover {
  background-color: rgba(255,255,255,0.7);
}

.card {
  background-color: rgba(255,255,255,0.8);
  margin: 10%;
  border: 1px solid black;
}

.card-image > img {
  height: 200px;
  position: relative;
  width: 100%;
}

.card .card-image .card-title {
  color: black;
  position: relative;
  padding: 20px;
}

.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}

.card .card-action {
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 20px;
}
